* {
    box-sizing: border-box;
}
header, main, nav, footer, figure, figcaption, aside, section, article {
    display: block;
}
body {
    background-color: #3f2860;
    font-family: Verdana, Arial, sans-serif;
}
#wrapper {
    background-color: #f5f5f5;
    color: #3f2860;
    margin-left: auto;
    margin-right: auto;
    min-width: 550px; max-width: 1280px;
    width: 80%
}
header {
    background-color: #9bc1c2;
    background-image: url(lilyheader.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 150px;
}
nav {
    float: left;
    font-weight: bold;
    padding: 1em;
    text-align: center;
    width: 190px;
}
nav ul {
    font-size: 1.2em;
    list-style-type: none;
    padding: 0;
}
nav a {
    border: 3px outset #cccccc;
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em;
    text-align: center;
    text-decoration: none;
   
}
nav a:link {
    color: #3f2860;
}
nav a:visited {
    color: #497777;
}
nav a:hover {
    border: 3px inset #333333;
    background-color: #B6d2d3;
    transition: color 3s ease-out;
}
main {
    display: block;
    margin-left: 170px;
    padding: 0 3em 3em 3em;
}
h1 {
    padding-top: 50px;
    padding-left: 2em;
}
li {
    font-size: 90%;
}
footer {
    background-color: #9bc1c2;
    font-style: italic;
    padding: 1em;
    text-align: center;
}
#mathero {
    background-image: url(yogamat.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
#loungehero {
    background-image: url(yogalounge.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 300px;
}
#mobile {
    display: none;
}
#desktop {
    display: inline;
}

table {
    border:2px solid #3399CC;
    border-collapse: collapse;
}
td,th {
    padding: 0.5em;
    border: 2px solid #3399CC;
}
td {
    text-align: center;
}
.text {
    text-align: left;
}
tr:nth-last-of-type(odd){
    background-color: #D7e8e9;
}
.table1{
    float: none;
    margin-bottom: 15px;
    
}
.table2 {
    float: none;
}
label {
    float: left;
    display: block;
    text-align: right;
    width: 10em;
    padding-right: 1em;
}
input, textarea {
    display: block;
    margin-bottom: 2em;
}
input [type="Submit"] {
    margin-left: 12em;
}
input [type="element"]{
    padding: 3em;
}
.red {
    color: darkred;
    font-weight: bold;
}
audio {
    margin: 1em;
}

@media only screen and (max-width: 64em) {
    body {
        margin: 0;
        padding: 0;
    }
    #wrapper {
        padding: 0;
        margin: 0;
        min-width: 0;
        width: auto;
    }
    header {
        padding-top: 1px;
    }
    main {
        float: none;
        font-size: 90%;
        margin: 0;
        padding: 0 1em 2.5em 1em;
    }
    main ul {
        margin-left: 2em;
    }
    nav {
        float: none;
        padding-left: 2em;
        width: auto;
    }
    nav a {
        float: left;
        margin-left: 0.3em;
        padding: 0.2em;
        width: 23%;
    }
    h2, h3, p, dl {
        padding: 0 2em;
    }
    .floatleft {
        margin-left: 2em;
        margin-bottom: 1em;
    }
    .clear {
        padding-left: 2em;
    }
    #mathero, #loungehero {
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}

@media only screen and (max-width: 37.5em) {
    h1 {
        font-size: 2em;
        padding-top: 0.25em;
        padding-left: 1.5em;
        text-align: center;
        width: 85%;
    }
    nav a {
        float: left;
        margin-left: 0.5em;
        min-width: 6em;
        padding: 0.5em;
        width: 45%;
    }
    li {
        font-size: 100%;
    }
    .floatleft {
        display: none;
        float: none;
    }
    #mathero, #loungehero {
        background-image: none;
        height: 0;
    }
    footer {
        margin: 0;
        padding: 0;;
    }
    #mobile {
        display: inline;
    }
    #desktop {
        display: none;
    }
    label {
        float: none;
        text-align: left;
    }
    input [type="Submit"]{
        margin-left: 0;
    }
}
@media (max-width:426px){
    section td, section th {
        display:block;
    }
    section table {
        margin-right:auto;
        margin-left:auto;
    }
    section th {
        height:0;
        margin: 0
        padding: 0;
        font-size:0;
        border: none;
        overflow: hidden;
    }
    td:before {
        width:25%;
        display:block;
        padding-right: 10px;
        position:absolute;
        top:6px;
        left:1em;
        color: #39c;
        font-weight: bold;
        white-space:nowrap;
    }


